<mat-card class="mat-elevation-z10">
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  <div class="text-center mat-title"> Data pre {{ symbol }} nacitane [{{minDate}} - {{maxDate}}] </div>

  <div class="d-flex flex-column gap-4 align-items-center m-auto w-50">
    <div class="d-flex gap-2 w-100">
      <app-filters (change$)="onFilterChange($event)"></app-filters>
    </div>
    <div class="d-flex gap-2 w-100">
      <ng-container [formGroup]="form">
        <mat-form-field class="w-1/3">
          <input matInput [formControlName]="'stoploss'" placeholder="Stop Loss [%]" type="number" step="0.1" />
        </mat-form-field>

        <mat-form-field class="w-1/3">
          <input matInput [formControlName]="'orderSize'" placeholder="Velkost obchodu [USD]" type="number"
            step="100" />
        </mat-form-field>

        <button mat-raised-button color="primary" [disabled]="form?.invalid" (click)="calculate()">
          Vypocet symbolu {{ symbol }}
        </button>

      </ng-container>
    </div>
  </div>

  <br>
  <ng-container *ngIf="upCandleCounter">
    <!-- HEADER -->
    <div class="d-flex flex-row gap-4">
      <div class="flex-1">
        <b class="mat-title">ZISKY:</b>
      </div>
      <div class="flex-1">
        <b class="mat-title">STRATY:</b>
      </div>
    </div>

    <div class="d-flex flex-row gap-4">
      <div class="flex-1">
        <div>
          [CLOSE HIT] pocet ziskovych dni (CLOSE > OPEN):
        </div>
      </div>
      <div class="flex-1">
        <div class="text-success"><b>{{ upCandleCounter }} ({{upPercentage | number }}%) </b>
        </div>
      </div>
      <div class="flex-1">
        <div>
          [CLOSE HIT] pocet stratovych dni (CLOSE < OPEN): </div>
            <div>
              [STOPLOSS HIT] pocet dni:
            </div>
        </div>
        <div class="flex-1">
          <div class="text-danger">
            <b>{{ upCandleFalseyCounter }} ({{ upFalseyPercentage | number }}%) </b>
          </div>
          <div class="text-danger">
            <b>{{ downCandleCounter }} ({{ downPercentage | number }}%)</b>
          </div>
        </div>

      </div>
      <mat-divider [inset]="true"></mat-divider>
      <br>
      <!-- SUMMARY -->
      <div class="d-flex flex-row gap-4">
        <div class="text-success flex-1">
          Pocet realnych profitovych dni:
        </div>
        <div class="text-success flex-1">
          <b>{{ trueProfitCounter }} ({{ trueProfitCounter /
            (trueProfitCounter + trueLossCounter) * 100 | number }}%)</b>
        </div>
        <div class="text-danger flex-1">
          Pocet realnych stratovych dni:
        </div>
        <div class="text-danger flex-1">
          <b>{{ trueLossCounter }} ({{ trueLossCounter /
            (trueProfitCounter + trueLossCounter) * 100 | number }}%)</b>
        </div>
      </div>

      <br>
      <br>

      <div>
        Max Drawdown: <b>{{ maxDrawdown | number }} USD</b>
      </div>
      <div>
        Max Relativny Drawdown: <b>{{ maxRelativeDrawdown | number }}%</b>
      </div>

      <div>
        Priemerna velkost winDay (CLOSE > OPEN):
        <b>{{ winDaysPercentSum / winDaysCounter | number }}% </b>
      </div>
      <div>
        Priemerna velkost lossDay (CLOSE < OPEN): <b>{{ lossDaysPercentSum / lossDaysCounter | number }}% </b>
      </div>
  </ng-container>

  <div *ngIf="upCandleCounter" class="d-flex gap-2 w-100 mt-5">

    <div class="w-100">
      <canvas baseChart [data]="equityData" [options]="equityChartOptions" [type]="'line'">
      </canvas>
    </div>
    <div class="w-100">
      <canvas baseChart [data]="accountStateData" [options]="accountStateChartOptions" [type]="'line'">
      </canvas>
    </div>
  </div>
</mat-card>
